langchain==0.3.18
langchain-chroma==0.2.2
langchain-community==0.3.17
langchain-core==0.3.34
langchain-ollama==0.2.3
langchain-openai==0.3.4
langchain-text-splitters==0.3.6
gradio==5.15.0
gradio_client==1.7.0